.filter{
    background-color: #5e3848;
    border-radius: 7px;
    min-height: 3rem;
    margin-bottom: 1rem;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    gap: 10px;
    
}

.filter__list{

    list-style: none;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px;


}