#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
}

.app-sorteos {
  width: 1240px;
  /* background-color: #f3f2ef; */

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  height: 600px;
  background-color: #4c2d4b;
  justify-items: center;
  align-items: center;

}

.form-ure {
  border: 1px solid rgba(0, 0, 0, 0.365);
  background-color: #f2f2ef;
  padding: 15px;
  height: 400px;
  border-radius: 7px;

}

p {
  color: #f2f2ef;
}