.form{
    /* background-color: red; */
    height: 60px !important;    
    display: flex;
    /* background-color: red; */
    justify-content: center;
    align-items: center;
    
}




/* .form__btn{
    height: 1.8rem;
} */

.btn-nextUI{
    height: 55px !important;
}

.input-next{
    height: 100%;
    margin-top: 5px !important;
}