.task-item {

    border: solid 1px white;
    border-radius: 7px;
    min-width: 30rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;



}



.task-item__btn {
    /* position: absolute;
    top: 17px;
    right: 5px; */

}


.task-item__state {
    margin: 0px;

}


input[type=checkbox] {
    transform: scale(1.9);
}



.task-item--complete {
    background-color: rgb(45, 163, 45);
}



.task-item__text--complete {
    text-decoration:line-through;
}