.task-item {

    border: solid 1px white;
    border-radius: 7px;
    min-width: 30rem;
    /* min-height: ; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;
    position: relative;


}



.task-item__btn {
    position: absolute;
    top: 17px;
    right: 5px;

}